@model Cinema86Movie.Models.OlvidoPassword

@{
    ViewBag.Title = "Olvido Contraseña";
    Layout = "~/Views/Shared/_master.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h1>Reiniciar Contraseña</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- breadcrumb area end -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="details-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="details-content">
                        <div class="details-overview">
                            <h2>Formulario de solicitud de cambio</h2>
                            <hr />
                            <p>Capture el correo con el que se registro y recibira una clave OPT en su Inbox para cambiar la contraseña actual.</p>
                        </div>
                        <div class="details-reply">
                            <form action="#">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="select-container">
                                            <div class="transformers-left">
                                                @Html.LabelFor(model => model._eMail, htmlAttributes: new { @class = "control-label col-md-2" })
                                            </div>
                                            <div class="transformers-right">
                                                @Html.EditorFor(model => model._eMail, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model._eMail, "", new { @class = "text-danger" })
                                                @Html.ValidationMessage("EmailNotExists", new { @class = "text-danger" })                                                
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="textarea-container">
                                                    <div class="transformers-left">                                                        
                                                        <p>ACCIONES</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="textarea-container">
                                                    <div class="transformers-left">
                                                        <table>
                                                            <tr>
                                                                <td><button class="btn btn-primary" type="submit">Enviar</button></td>
                                                                <td><a class="btn btn-primary" href="@Url.Action("Index", "Home")">Salir</a></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}









@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body collapse show" id="card1">
                        <h4 class="card-title">¿Estas seguro de cambiar la contraseña?</h4>
                        <p class="card-text">
                            Ingrese su correo electrónico con el que se registro inicialmente y recibira un correo con una liga para culminar el proceso de Reseteo de contraseña.
                            Nota: En el correo recibira tambien una clave OPT, la cual necesitara para resetear la contraseña actual.
                        </p>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model._eMail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model._eMail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model._eMail, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("EmailNotExists", new { @class = "text-danger" })
                            </div>
                        </div>

                        <input type="submit" value="Enviar" class="btn btn-primary" />
                        <hr />
                        <div>
                            @Html.ActionLink("Salir", "Index", "Home")
                            <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@
